<h4>Odaberite sertifikat koji zelite da povucete. <strong>OPREZ</strong> povlacenje sertifikata je nepovratna operacija!<br /> Svi sertifikati potpisani ovim sertifikatom mogu postati <strong>NEVALIDNI</strong>!</h4>
<br /><br />
<table class="showCerts table" border="1">
    <thead>
      <th> ID </th>
      <th> TIP </th>
      <th> DATUM POCETKA </th>
      <th> DATUM ZAVRSETKA </th>
      <th> SERIJSKI BROJ </th>
      <th> NADSERTIFIKAT </th>
    </thead>
  </table>
<br /><br />
  <button class="btn btn-outline-danger my-2 my-sm-0">Povuci sertifikat</button>

  

