
<table style="float: left; width: 600px;">
  <thead>
      <h3>Izaberite iz tabela 2 sertifikata koji smeju da komuniciraju</h3><br />
  </thead>
  <tbody>
      <tr>
          <td>
                <h4>Podaci o izdavaocu sertifikata 1:</h4>
                <input class="form-control mr-sm-2" disabled type="text" placeholder="Izdavalac sertifikata 1" aria-label="Search">
          </td>
      </tr><br /><br />

      <tr>
            <td>
                  <h4>Podaci o subjektu sertifikata 1:</h4>
                  <input class="form-control mr-sm-2" disabled type="text" placeholder="Izdavalac sertifikata 1" aria-label="Search">
            </td>
        </tr><br /><br /><br /><br />
        

        <tr>
                <td>
                      <h4>Podaci o izdavaocu sertifikata 2:</h4>
                      <input class="form-control mr-sm-2" disabled type="text" placeholder="Izdavalac sertifikata 2" aria-label="Search">
                </td>
            </tr><br /><br />

            <tr>
                    <td>
                          <h4>Podaci o subjektu sertifikata 2:</h4>
                          <input class="form-control mr-sm-2" disabled type="text" placeholder="Izdavalac sertifikata 2" aria-label="Search">
                    </td>
                </tr>
    
  </tbody>
</table>

<app-tabela1>

</app-tabela1>
<app-tabela2>
    
</app-tabela2>