<form (submit)="kreirajAplikacija($event)">
  <tbody>
    <tr>
      <td>
        <h5>Pocetak</h5>
      </td>
      <td><input type="date" id="pocetak" /></td>
    </tr>
    <tr>
      <td>
        <h5>Kraj</h5>
      </td>
      <td><input type="date" id="kraj" /></td>
    </tr>
    <tr>
      <td>
        <h5>KeyStore</h5>
      </td>
      <td><input type="file" id="keystore" /></td>
    </tr>
    <tr>
      <td>
        <h5>Lokacija za cuvanje</h5>
      </td>
      <td><input type="file" id="sertifikat" /></td>
    </tr>
    <tr>
      <td>
        <h5>Nadsertifikat</h5>
      </td>
      <td>
        <div class="md-form">
          <input disabled mdbInput type="text" class="form-control" id="nadsertifikat" [value]="nadsertifikat"/>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <h5>Naziv aplikacije</h5>
      </td>
      <td>
        <div class="md-form">
          <input mdbInput type="text" class="form-control" id="nazivaplikacije" />
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <h5>Organizacija</h5>
      </td>
      <td>
        <div class="md-form">
          <input mdbInput type="text" class="form-control" id="organizacija" />
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <h5>Verzija aplikacije</h5>
      </td>
      <td>
        <div class="md-form">
          <input mdbInput type="text" class="form-control" id="verzijaaplikacije" />
        </div>
      </td>
    </tr>
  </tbody>
  <tr>
    &nbsp;
  </tr>
  <tr>
    <td> <!--stavi svugde type submit-->
      <button type="submit" class="btn btn-outline-danger my-2 my-sm-0" style="float: left;">Kreiraj sertifikat</button>
    </td>
  </tr>
</form>