<table class="table" border="1">
  <thead>
    <th> ID </th>
    <th> TIP </th>
    <th> DATUM POCETKA </th>
    <th> DATUM ZAVRSETKA </th>
    <th> SERIJSKI BROJ </th>
    <th> NADSERTIFIKAT </th>
  </thead>
  <tbody>
    <tr *ngFor="let cert of sertifikati" (click)="selectCert($event, cert)" [class.selected]="cert.flag === true">
      <td>{{cert.id}}</td>
      <td>{{cert.tipCertifikata}}</td>
      <td>{{cert.datumPocetka | date: 'dd/MM/yyyy'}}</td>
      <td>{{cert.datumKraja  | date: 'dd/MM/yyyy'}}</td>
      <td>{{cert.serijskiBroj}}</td>
      <td>{{cert.nadcertifikat}}</td>
    </tr>
  </tbody>
</table>